:root {
    --mainFontFamily: "SF Pro", system-ui, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    --monoFontFamily: "SF Mono", SFMono-Regular, ui-monospace,
        "DejaVu Sans Mono", Menlo, Consolas, monospace;
    --lineHeight: calc(var(--mainFontSize) * 1.25);
    --barSize: 20%;
    --panelSize: 40%;
    --insidePadding: 0.5rem;
    --borderRadius: 1.5rem;
    --borderRadiusSmol: 0.625rem;
    --transition: all 0.1s ease-in-out;
    --backdropBlur: 0.5rem;
}

#top-bar,
#persona-management-button .drawer-icon::before,
#ReverseProxyWarningMessage,
#quickReplyPopoutButton,
#summaryExtensionPopoutButton,
.mes_edit_copy,
.mes_edit_up,
.mes_edit_down,
details summary::-webkit-details-marker,
body.hideChatAvatars .mesAvatarWrapper,
body.swipeAllMessages .mes:not(.last_mes) .swipe_right ~ .swipes-counter {
    display: none !important;
}

a {
    color: orange;
}

body {
    background-color: var(--SmartThemeChatTintColor);
    color-scheme: only dark;
}

body.bubblechat {
    .mes {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .mes[is_user="true"] {
        background-color: transparent;
        padding: 0 var(--insidePadding);

        .mesAvatarWrapper {
            display: none;
        }

        .mes_block {
            margin-left: auto;
            padding-left: 0;
            overflow-y: hidden;
        }

        .ch_name.flex-container.justifySpaceBetween {
            display: none;
        }

        .mes_text {
            background-color: var(--SmartThemeUserMesBlurTintColor);
            margin-top: 0;
            margin-left: auto;
        }

        .mes_buttons,
        .mes_edit_buttons {
            justify-content: end;
        }

        .timestamp {
            align-self: end;
        }
    }

    .mes[is_user="false"] {
        .mes_text {
            border-top-left-radius: 0.25rem;
        }

        details {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: var(--borderRadius);
            background-color: var(--SmartThemeBotMesBlurTintColor);
            padding: 0.625rem 1rem 0;

            &:has(.mes_reasoning:not(:empty)) + .mes_text,
            &:has(textarea) + .mes_text {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding-top: 0;
                width: auto;
            }

            &:has(.mes_reasoning:not(:empty))[open] + .mes_text {
                padding-top: 0.625rem;
            }
        }
    }

    .mes_text {
        border-radius: var(--borderRadius);
        background-color: var(--SmartThemeBotMesBlurTintColor);
        width: fit-content;
        padding: 0.625rem 1rem;

        &:has(#curEditTextarea) {
            width: unset;
        }

        .smallSysMes & {
            padding: 0.25rem !important;
            border-radius: var(--borderRadiusSmol) !important;
            width: unset;
        }
    }

    .mes_img_container.img_extra,
    .mes_file_container {
        margin: 0 0 0 auto;
        padding-right: 0;
    }
}

body.hideChatAvatars {
    .mes.last_mes:not(.smallSysMes) {
        padding-bottom: 4.5rem !important;
    }

    .mes_block {
        padding-left: 0;
    }
}

body.big-avatars {
    .avatar,
    .avatar img {
        width: 50px;
        height: 75px;
    }
}

body.swipeAllMessages {
    .swipeRightBlock {
        pointer-events: none;
    }
}

#top-settings-holder {
    background-color: var(--SmartThemeBlurTintColor);
}

#ai-config-button .drawer-icon::before {
    content: "";
}

#logo_block .drawer-icon::before {
    content: "";
}

#extensions-settings-button .drawer-icon::before {
    content: "";
}

#persona-management-button {
    & .persona_avatar {
        object-fit: cover;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
    }

    &:hover .persona_avatar {
        transform: scale(1.05);
        transition: var(--transition);
    }
}

#rightNavHolder {
    &:has(#rm_ch_create_block[style*="display: block"]) {
        #rm_button_characters::before {
            content: "";
        }

        #rm_button_characters::after {
            content: " Back";
            font-family: var(--mainFontFamily);
            font-weight: 700;
        }
    }

    &:has(#rm_ch_create_block[style*="display: none"])
        #rm_button_selected_ch
        h2:not(:empty)::after {
        content: " ";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
}

.drawer-content,
#right-nav-panel,
#character_popup {
    top: 0;
    background-color: var(--SmartThemeChatTintColor);
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

#rm_button_characters {
    width: max-content;

    &::after {
        content: " All Characters";
        font-family: var(--mainFontFamily);
        font-weight: 700;
    }
}

#firstmessage_textarea {
    flex: none;
    height: 20svh !important;
}

#creator_notes_spoiler img {
    max-width: 100%;
}

#char_connections_button::before {
    content: "";
}

#delete_button::before {
    content: "";
}

#sheld {
    top: 0;
    background-color: var(--SmartThemeChatTintColor);
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
}

#chat {
    backdrop-filter: none;
    background-color: transparent;
    max-height: 100dvh;
}

#hypeBotBar {
    padding: 0 0 var(--insidePadding) var(--insidePadding);
}

#form_sheld {
    backdrop-filter: blur(var(--backdropBlur));
    padding: var(--insidePadding);
    position: absolute;
    bottom: 0;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);

    &:has(#file_form:not(.displayNone)) {
        padding-top: 0;
    }
}

#send_form {
    border: none;
    border-radius: var(--borderRadiusSmol);
    background-color: transparent;
    backdrop-filter: none;

    &:has(#send_textarea:focus-visible) {
        outline: none;
    }
}

#send_textarea {
    border-top-width: 0.125rem;
    border-radius: var(--borderRadius);
    clip-path: none;
    background-color: var(--SmartThemeBlurTintColor);
    resize: none;
    border-color: #0000;
    padding: 0.5rem 1rem;
    padding-right: 3rem;

    &::placeholder {
        text-align: left;
    }
}

#leftSendForm {
    padding: 0;
}

#rightSendForm {
    padding: 0;
    margin-inline-start: -2.75rem;
}

#extensionsMenuButton.fa-magic-wand-sparkles::before {
    content: "+";
}

#options_button::before {
    content: "";
}

#send_but::before {
    content: "";
}

#mes_continue::before {
    content: "";
}

.mes {
    &.last_mes {
        padding-bottom: 4.5rem !important;

        #sheld:has(#file_form:not(.displayNone)) & {
            padding-bottom: 6.5rem !important;
        }

        & .swipe_left,
        & .swipeRightBlock {
            visibility: hidden;
        }
    }

    &:hover .swipes {
        .swipes-counter {
            opacity: 0.7;
        }
        .mes_swipe_left,
        .mes_swipe_right {
            opacity: 0.3;
        }
    }

    &:not(:hover) {
        .mes_buttons,
        .mesIDDisplay,
        .mes_timer,
        .tokenCounterDisplay {
            opacity: 0;
        }
    }

    .swipes .mes_swipe_left:hover,
    .swipes .mes_swipe_right:hover {
        opacity: 1;
    }

    &:not(.last_mes),
    &[is_user="true"] {
        .swipes-counter,
        .mes_swipe_left,
        .mes_swipe_right {
            display: none;
        }
    }
}

.mes .mes_buttons,
.mes .mes_edit_buttons {
    float: none;
    justify-content: flex-start;
    margin-top: var(--insidePadding);
}

.mes .mes_block .mes_edit_buttons {
    padding-bottom: 1px;

    & .menu_button {
        aspect-ratio: 3;
        height: 1.25rem;
    }
}

.mes.smallSysMes .mes_block {
    padding-left: 0;
}

.swipes {
    align-items: center;

    &:has(.swipes-counter[style="display: none;"]) {
        display: none;
    }

    .swipes-counter {
        opacity: 0;
        transition: var(--transition);
        font-weight: 500;
        padding: 0;
        margin: 0;
        min-width: auto;
    }

    .mes_swipe_left,
    .mes_swipe_right {
        cursor: pointer;
        transition: var(--transition);
        filter: drop-shadow(0 0 0.125rem #000);
        opacity: 0;
    }
}

.mes_text {
    padding: 0;

    p {
        margin-bottom: var(--lineHeight);

        &:has(+ ol),
        &:has(+ ul) {
            margin-bottom: calc(var(--lineHeight) / 2);
        }
    }

    h1,
    h2,
    h3,
    h4,
    a:not(.fa-solid) {
        margin: 0 0 calc(var(--lineHeight) / 2) 0;
    }

    ol,
    ul {
        margin-block: calc(var(--lineHeight) / 2);
        padding-inline-start: 2rem;

        &:has(+ p) {
            margin-block-end: var(--lineHeight);
        }
    }

    #curEditTextarea {
        resize: none;
        font-family: inherit;
        font-weight: inherit;
        line-height: calc(var(--mainFontSize) + 0.25rem);
        background-color: #0000;
        border: none;
        padding: 0;

        &:focus {
            outline: none;
        }
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

/* Reasoning */
.mes_reasoning_header {
    margin: var(--insidePadding) 0;
    background-color: transparent;
    padding-left: 0;
    margin-top: 0;

    &:not(:hover) {
        color: var(--SmartThemeEmColor);
    }
}

.mes .mes_block details .mes_reasoning {
    border-radius: 0;
    border-left: 0.25rem solid var(--SmartThemeEmColor);
    background-color: transparent;
    margin-bottom: 0;
}

.mes_reasoning_details,
.mes_reasoning_details .mes_reasoning_summary {
    margin-right: 0;
}

.mes .mes_img_enlarge {
    opacity: 0;
    pointer-events: none;
}

.mes_img_container {
    cursor: pointer;
}

body:not(.bubblechat) .mes[is_user="true"] .name_text {
    visibility: hidden;
    text-indent: -999px;
    line-height: 0;

    &::after {
        text-indent: 0;
        visibility: visible;
        line-height: initial;
        display: block;
        content: "(You)" !important;
    }
}

#scrollToBottom {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    background-color: var(--black30a);
    color: var(--SmartThemeBodyColor);
    bottom: 4rem;
    align-self: center;
    align-items: center;
    z-index: 100;
    padding: 0.625rem;
    backdrop-filter: blur(var(--backdropBlur));
    border-radius: var(--borderRadius);
    cursor: pointer;

    & i {
        position: relative;
    }

    #sheld:has(#file_form:not(.displayNone)) & {
        bottom: 6.5rem;
    }
}

@keyframes splash {
    0% {
        transform: scale(0.9) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(-10deg);
    }
}

#splash {
    text-align: center;
    color: #ff0;
    height: 0;
    margin: 0;
    font-style: normal;
    font-family: var(--monoFontFamily);
    animation: 0.25s infinite alternate splash;
    position: relative;
    text-shadow: 0.125rem 0.125rem #3f3f00 !important;
}

.icon-svg {
    height: 1rem;
}

#toast-container {
    top: 0 !important;
}

.BGSampleTitle {
    border-radius: 0;
    margin-top: 2rem;
}
