:root {
    --mainFontFamily: "SF Pro", system-ui, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    --monoFontFamily: "SF Mono", SFMono-Regular, ui-monospace,
        "DejaVu Sans Mono", Menlo, Consolas, monospace;
    --lineHeight: calc(var(--mainFontSize) * 1.3);
    --barSize: 20%;
    --panelSize: 40%;
    --insidePadding: 0.5rem;
    --borderRadius: 1.5rem;
    --borderRadiusSmol: 0.625rem;
    --transition: all 0.1s ease-in-out;
    --backdropBlur: 0.5rem;
}

#top-bar,
#persona-management-button .drawer-icon::before,
#ReverseProxyWarningMessage,
#quickReplyPopoutButton,
#summaryExtensionPopoutButton,
.mes_edit_copy,
.mes_edit_up,
.mes_edit_down,
details summary::-webkit-details-marker,
body.hideChatAvatars .mesAvatarWrapper,
body.swipeAllMessages .mes:not(.last_mes) .swipe_right ~ .swipes-counter {
    display: none !important;
}

a {
    color: orange;
}

body {
    background-color: var(--SmartThemeChatTintColor);
    color-scheme: only dark;
}

body.bubblechat {
    & .mes {
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;

        & .mes_text {
            position: relative;
            border-radius: var(--borderRadius);
            width: fit-content;
            padding: 0.625rem 1rem;

            &::before {
                width: calc(var(--borderRadius) / 2);
                height: var(--borderRadius);
                position: absolute;
                bottom: 0;
                content: "";
            }

            &:has(#curEditTextarea) {
                width: unset;
            }

            .smallSysMes & {
                padding: 0.25rem !important;
                border-radius: var(--borderRadiusSmol) !important;
                width: unset;
            }
        }
    }

    & .mes[is_user="true"] {
        background-color: transparent;
        padding: 0 var(--insidePadding);

        & .mesAvatarWrapper {
            display: none;
        }

        & .mes_block {
            display: grid;
            margin-left: auto;
            padding-left: 0;
            overflow-y: hidden;
        }

        & .ch_name.flex-container.justifySpaceBetween {
            display: none;
        }

        & .mes_text {
            background-color: var(--SmartThemeUserMesBlurTintColor);
            margin-top: 0;
            margin-left: auto;

            &::before {
                right: 0;
                background-color: var(--SmartThemeUserMesBlurTintColor);
                border-top-right-radius: 0.25rem;
                border-bottom-left-radius: 1rem 0.875rem;
            }
        }

        & .mes_buttons,
        & .mes_edit_buttons {
            justify-content: end;
        }

        & .timestamp {
            align-self: end;
        }
    }

    & .mes[is_user="false"] {
        & .mes_text {
            background-color: var(--SmartThemeBotMesBlurTintColor);

            &::before {
                left: 0;
                background-color: var(--SmartThemeBotMesBlurTintColor);
                border-top-left-radius: 0.25rem;
                border-bottom-right-radius: 1rem 0.875rem;
            }
        }

        & details {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: var(--borderRadius);
            background-color: var(--SmartThemeBotMesBlurTintColor);
            padding: 0.625rem 1rem 0;

            &:has(.mes_reasoning:not(:empty)) + .mes_text,
            &:has(textarea) + .mes_text {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding-top: 0;
                width: auto;
            }

            &:has(.mes_reasoning:not(:empty))[open] + .mes_text {
                padding-top: 0.625rem;
            }
        }
    }

    & .mes_img_container.img_extra,
    & .mes_file_container {
        margin: 0 0 0 auto;
        padding-right: 0;
        order: -1;
    }
}

body.hideChatAvatars {
    & .mes_block {
        padding-left: 0;
    }
}

body.big-avatars {
    & .avatar,
    & .avatar img {
        width: 50px;
        height: 75px;
        cursor: pointer;
    }
}

body.swipeAllMessages {
    & .swipeRightBlock {
        pointer-events: none;
    }
}

#top-settings-holder {
    background-color: var(--SmartThemeBlurTintColor);
}

#ai-config-button {
    & .drawer-icon::before {
        content: "";
    }
}

#logo_block {
    & .drawer-icon::before {
        content: "";
    }

    .BGSampleTitle {
        border-radius: 0;
        margin-top: 2rem;
    }
}

#extensions-settings-button {
    & .drawer-icon::before {
        content: "";
    }
}

#persona-management-button {
    & .persona_avatar {
        object-fit: cover;
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        transition: var(--transition);
    }

    &:hover .persona_avatar {
        transform: scale(1.05);
    }
}

#rightNavHolder {
    &:has(#rm_ch_create_block[style*="display: block"]) {
        & #rm_button_characters::before {
            content: "";
        }

        & #rm_button_characters::after {
            content: " Back";
            font-family: var(--mainFontFamily);
            font-weight: 700;
        }
    }

    &:has(#rm_ch_create_block[style*="display: none"])
        #rm_button_selected_ch
        h2:not(:empty)::after {
        content: " ";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
}

.drawer-content,
#right-nav-panel,
#character_popup {
    top: 0;
    background-color: var(--SmartThemeChatTintColor);
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

#rm_button_characters {
    width: max-content;

    &::after {
        content: " All Characters";
        font-family: var(--mainFontFamily);
        font-weight: 700;
    }
}

#firstmessage_textarea {
    flex: none;
    height: 20svh !important;
}

#creator_notes_spoiler {
    & img {
        max-width: 100%;
    }
}

#char_connections_button {
    &::before {
        content: "";
    }
}

#delete_button {
    &::before {
        content: "";
    }
}

#sheld {
    top: 0;
    background-color: var(--SmartThemeChatTintColor);
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
}

#chat {
    backdrop-filter: none;
    background-color: transparent;
    max-height: 100dvh;
}

#hypeBotBar {
    padding: 0 0 var(--insidePadding) var(--insidePadding);
}

#form_sheld {
    backdrop-filter: blur(var(--backdropBlur));
    padding: var(--insidePadding);
    position: absolute;
    bottom: 0;
    border-top-left-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);

    &:has(#file_form:not(.displayNone)) {
        padding-top: 0;
    }
}

#send_form {
    border: none;
    border-radius: var(--borderRadiusSmol);
    background-color: transparent;
    backdrop-filter: none;

    &:has(#send_textarea:focus-visible) {
        outline: none;
    }
}

#send_textarea {
    border-top-width: 0.1rem;
    border-radius: var(--borderRadius);
    clip-path: none;
    background-color: var(--SmartThemeBlurTintColor);
    resize: none;
    border-color: transparent;
    padding: 0.5rem 1rem;
    padding-right: 3rem;

    &::placeholder {
        text-align: left;
    }
}

#leftSendForm {
    padding: 0;
}

#rightSendForm {
    padding: 0;
    margin-inline-start: -2.75rem;
    align-items: center;
}

#extensionsMenuButton {
    &.fa-magic-wand-sparkles::before {
        content: "+";
    }
}

#options_button {
    &::before {
        content: "";
    }
}

#send_but {
    &::before {
        content: "";
    }
}

#mes_continue {
    &::before {
        content: "";
    }
}

.mes {
    &:hover {
        & .mes_swipe_left,
        & .mes_swipe_right {
            opacity: 0.3;
        }
    }

    &:not(:hover) {
        & .mes_buttons,
        & .mesIDDisplay,
        & .mes_timer,
        & .tokenCounterDisplay {
            opacity: 0;
        }
    }

    &:not(.last_mes),
    &[is_user="true"] {
        & .swipes-counter,
        & .mes_swipe_left,
        & .mes_swipe_right {
            display: none;
        }
    }

    body:not(.bubblechat) &[is_user="true"] .name_text {
        visibility: hidden;
        text-indent: -999px;
        line-height: 0;

        &::after {
            text-indent: 0;
            visibility: visible;
            line-height: initial;
            display: block;
            content: "(You)" !important;
        }
    }

    &.last_mes {
        padding-bottom: 4.5rem !important;

        #sheld:has(#file_form:not(.displayNone)) & {
            padding-bottom: 6.5rem !important;
        }

        & .swipe_left,
        & .swipeRightBlock {
            visibility: hidden;
        }
    }

    &.smallSysMes {
        & .mes_block {
            padding-left: 0;
        }
    }

    & .mes_buttons,
    & .mes_edit_buttons {
        float: none;
        justify-content: flex-start;
        margin-top: 0.25rem;
    }

    & .mes_button {
        padding: 0.25rem;

        &:hover {
            background-color: var(--white20a);
        }
    }

    & .mes_edit_buttons {
        padding-bottom: 1px;

        & .menu_button {
            aspect-ratio: 3;
            height: 1.25rem;
        }
    }

    & .mes_img_container {
        cursor: pointer;

        & .mes_img_enlarge {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.mes_text {
    padding: 0;
    line-height: var(--lineHeight);

    & p {
        margin-bottom: var(--lineHeight);

        &:has(+ ol),
        &:has(+ ul) {
            margin-bottom: calc(var(--lineHeight) / 2);
        }

        hr + & {
            margin-top: var(--lineHeight);
        }
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & a:not(.fa-solid) {
        margin: 0 0 calc(var(--lineHeight) / 2) 0;

        hr ~ & {
            margin: var(--lineHeight) 0 calc(var(--lineHeight) / 2) 0;
        }
    }

    & ol,
    & ul {
        margin-block: calc(var(--lineHeight) / 2);
        padding-inline-start: 1.5rem;

        &:has(+ p) {
            margin-block-end: var(--lineHeight);
        }

        & p {
            margin-bottom: calc(var(--lineHeight) / 3);
        }

        &:has(+ hr) {
            margin-bottom: var(--lineHeight);
        }

        & li ol,
        & li ul {
            margin-block-start: 0;
        }
    }

    & blockquote {
        & p {
            margin-bottom: 0;
        }

        &:has(+ hr) p,
        &:has(+ p) p {
            margin-bottom: var(--lineHeight);
        }
    }

    #curEditTextarea {
        resize: none;
        font-family: inherit;
        font-weight: inherit;
        line-height: calc(var(--mainFontSize) + 0.5rem);
        background-color: transparent;
        border: none;
        padding: 0;

        &:focus {
            outline: none;
        }
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

/* Reasoning */
details {
    &.mes_reasoning_details,
    &.mes_reasoning_details .mes_reasoning_summary {
        margin-right: 0;
    }

    & .mes_reasoning_header {
        margin: var(--insidePadding) 0;
        background-color: transparent;
        padding-left: 0;
        margin-top: 0;

        &:not(:hover) {
            color: var(--SmartThemeEmColor);
        }
    }

    & .mes_reasoning {
        border-radius: 0;
        border-left: 0.25rem solid var(--SmartThemeEmColor);
        background-color: transparent;
        margin-bottom: 0;
    }
}

.swipes {
    align-items: center;

    &:has(.swipes-counter[style="display: none;"]) {
        display: none;
    }

    & .swipes-counter {
        opacity: 0.7 !important;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0;
        min-width: auto;
        margin-bottom: 0.25rem;
    }

    & .mes_swipe_left,
    & .mes_swipe_right {
        cursor: pointer;
        transition: var(--transition);
        filter: drop-shadow(0 0 0.125rem black);
        opacity: 0;
        transition: var(--transition);
        padding-top: 0.35rem;

        &:hover {
            opacity: 1;
            background-color: var(--white20a);
        }
    }
}

#scrollToBottom {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    background-color: var(--black30a);
    color: var(--SmartThemeBodyColor);
    bottom: 4rem;
    align-self: center;
    align-items: center;
    z-index: 100;
    padding: 0.625rem;
    backdrop-filter: blur(var(--backdropBlur));
    border-radius: var(--borderRadius);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.1s ease-in-out,
        visibility 0s 0.1s;

    &.show {
        opacity: 1;
        visibility: visible;
        transition:
            opacity 0.1s ease-in-out,
            visibility 0s 0s;
    }

    & i {
        position: relative;
    }

    #sheld:has(#file_form:not(.displayNone)) & {
        bottom: 6.5rem;
    }
}

@keyframes splash {
    0% {
        transform: scale(0.9) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(-10deg);
    }
}

#splash {
    text-align: center;
    color: yellow;
    height: 0;
    margin: 0;
    font-style: normal;
    font-family: var(--monoFontFamily);
    animation: 0.25s infinite alternate splash;
    position: relative;
    text-shadow: 0.125rem 0.125rem rgb(63, 63, 0) !important;
}

.icon-svg {
    align-self: unset;
}

#toast-container {
    top: 0 !important;
    z-index: 999999;
}
