/* chub.ai character seach CSS. taken from the chubsearch extension */
.list-and-search-wrapper {
    flex-direction: column;
    height: 100%;
    display: flex;

    & .flex-container label {
        white-space: nowrap;
        align-self: center;
    }
}

.search-container {
    padding: 0 0.9rem;
    position: sticky;
}

.character-list {
    flex-flow: wrap;
    display: flex;
    overflow-y: auto;
}

.character-list-item {
    flex-flow: column;
    align-items: flex-start;
    width: 25%;
    padding: var(--insidePadding);
    display: inline-flex;
    overflow: auto;
    max-height: 40rem;

    & .thumbnail {
        width: 100%;

        & img {
            object-fit: cover;
            border-radius: var(--borderRadiusSmol);
            width: 100%;
            cursor: pointer;
        }
    }

    & .info {
        text-align: left;
        flex: 1;
        overflow: hidden;

        &:has(.skeleton-text) {
            width: 100%;
        }

        & .name {
            text-align: left;
            color: var(--SmartThemeBodyColor);
            font-weight: 700;
            cursor: pointer;
        }

        & .subtitle {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0.25rem;
            color: var(--SmartThemeEmColor);
            font-size: 0.85rem;
            font-weight: 600;
        }

        & .creator {
            cursor: pointer;
        }

        & .tagline {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
        }

        & .tags {
            margin-top: var(--insidePadding);

            & .tag {
                cursor: pointer;
            }

            & .included {
                color: green;
                border-color: green;
            }
        }
    }
}

.download-btn {
    margin: -2rem 0.25rem 0.5rem;
    backdrop-filter: blur(var(--backdropBlur));

    &:hover {
        background-color: var(--grey30a) !important;
        backdrop-filter: contrast(0.1);
    }
}

.page-buttons {
    & .flex-container {
        flex: 1 1 auto;
        flex-flow: row;
    }

    & .flex-container:last-child {
        flex-grow: 0;
    }
}

.searching {
    filter: grayscale();
}

#loading {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
}

.skeleton-image,
.skeleton-text {
    position: relative;
    border-radius: var(--borderRadiusSmol);
    background-color: dimgray;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            90deg,
            transparent,
            rgba(200, 200, 200, 0.8),
            transparent
        );
        animation: shimmer 2s ease-in-out infinite;
    }
}

.skeleton-image {
    aspect-ratio: 1;
    margin-bottom: 0.5rem;
}

.skeleton-text {
    pointer-events: none;
}

.name.skeleton-text {
    height: 1rem;
    width: 45%;
    margin-bottom: 0.25rem;
}

.creator.skeleton-text,
.favorites.skeleton-text {
    height: 0.85rem;
    width: 33%;
}

.tagline.skeleton-text {
    height: 5rem;
    width: 100%;
}

.tag.skeleton-text {
    height: 1rem;
    width: 25%;
}

.popup:has(.chub-popup) {
    width: auto;
}

.popup-content:has(.chub-popup) {
    display: flex;
}

.chub-popup {
    flex-wrap: nowrap;

    & > div:first-child {
        display: flex;
        flex-flow: column;
    }

    & img {
        border-radius: var(--borderRadiusSmol);
    }

    & .download-btn {
        margin: -2rem auto 0.5rem;
        width: 90%;
    }

    & h3,
    & h5 {
        display: inline-block;
    }

    & .chub-padding {
        padding: var(--insidePadding);
        overflow-y: scroll;
    }

    & .chub-text-align {
        text-align: left;
        margin: 0.25rem;

        & img {
            max-width: 100%;
        }

        & p:first-child {
            font-weight: bold;
        }

        & p:nth-of-type(2) {
            margin-top: calc(var(--lineHeight) / 1.25);
        }
    }

    & .chub-nowrap {
        text-wrap: nowrap;
    }

    & .creator {
        cursor: pointer;
    }

    & .tags {
        justify-content: center;
    }

    & .tag {
        cursor: pointer;
    }
}
