/* chub.ai character seach CSS. taken from the chubsearch extension */
#explore-button {
    order: 2;

    & .drawer-icon::after {
        content: " Character Hub";
    }

    & .drawer-content {
        width: calc(100dvw - var(--barSize));
    }
}

#explore-button .list-and-search-wrapper {
    flex-direction: column;
    height: 100%;
    display: flex;
}

.list-and-search-wrapper .flex-container label {
    white-space: nowrap;
    align-self: center;
}

.search-container {
    padding: 0 0.9rem;
    position: sticky;
}

.character-list {
    flex-flow: wrap;
    padding: 0 0.9rem;
    display: flex;
    overflow-y: auto;
}

.character-list:has(#loading) {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.character-list .character-list-item {
    align-items: flex-start;
    width: 50%;
    margin: 10px 0;
    padding: 0 10px;
    display: inline-flex;
}

.character-list .character-list-item .thumbnail {
    margin-right: 10px;
}

.character-list .character-list-item img {
    object-fit: cover;
    border-radius: var(--borderRadiusSmol);
    flex: 0 0 100px;
    height: 100px;
    cursor: pointer;
}

.character-list .character-list-item .info {
    text-align: left;
    flex: 1;
    overflow: hidden;
}

.character-list .character-list-item .info .name {
    text-align: left;
    color: var(--SmartThemeBodyColor);
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.character-list .character-list-item .info .tagline {
    color: var(--SmartThemeEmColor);
    text-overflow: visble;
    text-align: left;
    overflow: hidden;
}

.character-list .character-list-item .info .tags {
    margin-top: 10px;
}

.character-list .character-list-item .info .tags .tag {
    cursor: pointer;
}

.character-list .character-list-item .info .tags .included {
    color: green;
    border-color: green;
}

.character-list .character-list-item .info .tags .excluded {
    color: red;
    border-color: red;
}

.character-list .character-list-item .info .creator {
    color: var(--SmartThemeEmColor);
    font-size: 0.8rem;
    cursor: pointer;
}

.page-buttons {
    place-content: center space-between;
    align-items: center;
}

.page-buttons .flex-container:has(#sortOrder) {
    flex-flow: row;
}

.searching {
    filter: grayscale();
}

.chub-popup {
    flex-wrap: nowrap;

    @media screen and (width<=1024px) {
        flex-wrap: wrap;
    }

    img {
        border-radius: var(--borderRadiusSmol);
    }

    h3,
    h5 {
        display: inline-block;
    }

    i:not(.fa-cloud-arrow-down) {
        margin: 0.25rem;
    }

    .chub-padding {
        padding: 0.5rem;
    }

    .chub-text-align {
        text-align: left;
    }

    .chub-nowrap {
        text-wrap: nowrap;
    }

    .tags {
        justify-content: center;
    }
}

.popup:has(.chub-popup) {
    width: auto;
}
