.chat-flex {
    order: 10;
    justify-content: space-around;
    border-radius: var(--borderRadiusSmol);
    background-color: var(--grey5020a);
    margin: var(--insidePadding) 0 0;
}

#select_chat_search {
    border-radius: var(--borderRadiusSmol);
    max-height: 36px;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }

    #select_chat_div:empty ~ & {
        display: none;
    }
}

.historyButton {
    background-color: transparent;
    opacity: 0.54;
    font-size: var(--mainFontSize);
    padding: 3px 5px;
    margin: 5px;
    font-weight: 600;
    transition: var(--transition);
    will-change: opacity;

    &:hover,
    &:has(:focus) {
        opacity: 1;
    }
}

#new_chat {
    padding: 5px;
    cursor: pointer;

    & i {
        transition: var(--transition);
    }
}

#select_chat_div {
    order: 12;
    margin-bottom: 3.6em;
    overflow-y: scroll;

    & .select_chat_block {
        border-radius: var(--borderRadiusSmol);
        gap: 0px;

        & .fa-solid {
            transform: translateX(5rem);
            transition: var(--transition);
            will-change: transform;
        }

        &:hover .fa-solid {
            transform: translateX(0px);
        }
    }

    & h5 {
        opacity: 0.5;
        margin: 0.5rem 0.25rem;

        & + .select_chat_block_wrapper .select_chat_block {
            margin-top: 0;
        }
    }
}

#select_chat_name_wrapper {
    text-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;

    & > .flex-container.alignItemsCenter {
        flex-wrap: nowrap;
    }

    & > .flex-container.gap10px {
        gap: 0px !important;

        & > .flex-container.gap10px {
            flex-wrap: nowrap;
            gap: 5px !important;
            align-items: center;
        }
    }

    & > div:nth-child(1) {
        max-width: 100%;
        transition: max-width 0.1s ease-in-out;
        will-change: max-width;

        .select_chat_block:hover & {
            max-width: calc(100% - 80px);
        }

        & .select_chat_block_filename.select_chat_block_filename_item {
            opacity: 0.9;
            text-overflow: ellipsis;
            overflow: hidden;
            flex: unset;
        }
    }
}

.exportChatButton.fa-file-lines::before {
    content: "";
}

.PastChat_cross.opacity50p.hoverglow {
    animation: none;

    &.fa-solid.fa-skull::before {
        content: "";
    }
}
