@import "history.css";
@import "explore.css";
@import "nudges.css";
@import "mobile.css" screen and (max-width: 1000px);

:root {
    --fontFamily: "SF Pro", system-ui, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", Helvetica, Arial, sans-serif;
    --mainFontSize: calc(var(--fontScale) * 17px);
    --lineHeight: calc(var(--mainFontSize) * 1.5);
    --barSize: 20%;
    --panelSize: 45%;
    --insidePadding: 10px;
    --borderRadius: 1.5rem;
    --borderRadiusSmol: 0.625rem;
    --color1: rgb(45, 45, 45);
    --color2: rgb(63, 63, 63);
    --transition: all 200ms ease-in-out;
}

*,
html,
body {
    font-family: var(--fontFamily);
}

body.bubblechat {
    .mes {
        border: none;
        border-radius: 0px;
        background-color: transparent;
        margin-bottom: 0px;

        &[is_user="true"] {
            padding: 0 10px;
            background-color: transparent;

            .mesAvatarWrapper {
                display: none;
            }

            .mes_block {
                max-width: 90%;
                margin-left: auto;
                padding-left: 0px;
                padding-right: 0px;
                overflow-y: hidden;
                justify-content: end;

                .ch_name.flex-container.justifySpaceBetween {
                    display: none;
                }

                .mes_text {
                    margin-top: 0;
                    margin-left: auto;
                    background-color: var(--SmartThemeUserMesBlurTintColor);
                }

                .mes_buttons,
                .mes_edit_buttons {
                    justify-content: flex-end;
                }

                .mes_edit_buttons {
                    float: right;
                }

                .mes_img_container.img_extra {
                    border-radius: 0px;
                    margin-top: 0px;
                    padding: 0px;
                    background-color: transparent;
                }

                .timestamp {
                    align-self: end;
                }
            }
        }

        &[is_user="false"] {
            .mes_text {
                border-top-left-radius: var(--borderRadiusSmol);
            }
        }

        .mes_text {
            width: fit-content;
            padding: 0.625rem 1rem;
            border-radius: var(--borderRadius);
            background-color: var(--SmartThemeBotMesBlurTintColor);

            #curEditTextarea {
                width: -webkit-fill-available;
            }
        }

        .mes_text:has(#curEditTextarea) {
            width: unset;
        }
    }
}

body.hideChatAvatars {
    .mes {
        .mesAvatarWrapper {
            display: none;
        }
    }
}

body.big-avatars {
    .avatar,
    .avatar img {
        width: 50px;
        height: 75px;
    }
}

body.waifuMode {
    .expression-holder {
        left: var(--barSize);
    }
}

hr {
    background-image: none;
    background-color: var(--SmartThemeBodyColor);
}

#top-bar,
#persona-management-button .drawer-icon::before,
#ReverseProxyWarningMessage,
#quickReplyPopoutButton,
#summaryExtensionPopoutButton,
.mes_edit_copy,
.mes_edit_up,
.mes_edit_down {
    display: none !important;
}

#top-settings-holder {
    background-color: var(--SmartThemeBlurTintColor);
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100dvh;
    width: var(--barSize);
    gap: 3px;
    padding: var(--insidePadding);
    transition: var(--transition);

    &.collapsed {
        visibility: collapse;
        width: 0px !important;

        #ai-config-button,
        #sys-settings-button,
        #advanced-formatting-button,
        #WI-SP-button,
        #logo_block,
        #extensions-settings-button,
        #persona-management-button,
        #user-settings-button,
        #rightNavHolder,
        .historyButton,
        #select_chat_div,
        #select_chat_search,
        #explore-button {
            display: none;
        }
    }
}

.drawer {
    justify-content: left;
}

.drawer-toggle,
.drawer-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.drawer-icon {
    font-size: 1.5rem;
    padding: 0.36rem;

    &::before {
        display: inline-block;
        width: 36px;
    }

    &::after {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
        font-family: var(--fontFamily);
    }
}

.drawer-toggle {
    border-radius: var(--borderRadiusSmol);

    &:hover {
        background-color: var(--color1);
    }
}

#sys-settings-button,
#advanced-formatting-button,
#WI-SP-button,
#logo_block,
#extensions-settings-button,
#user-settings-button {
    padding-left: 1rem;
}

#ai-config-button {
    order: 1;

    &:has(.openIcon) {
        .inline-drawer-icon {
            transform: rotate(180deg);
        }
    }

    &:not(:has(.openIcon)) {
        ~ #sys-settings-button:not(:has(.openIcon)),
        ~ #advanced-formatting-button:not(:has(.openIcon)),
        ~ #WI-SP-button:not(:has(.openIcon)),
        ~ #extensions-settings-button:not(:has(.openIcon)),
        ~ #logo_block:not(:has(.openIcon)),
        ~ #user-settings-button:not(:has(.openIcon)) {
            display: none;
        }
    }

    .drawer-toggle {
        display: flex;
        align-items: center;
    }

    .drawer-toggle:not(:hover) ~ .fa-chevron-down.inline-drawer-icon {
        opacity: 0.3;
    }

    .drawer-icon {
        &::before {
            content: "\f013";
        }

        &::after {
            content: " Settings";
        }
    }

    > .inline-drawer-icon {
        font-size: calc(var(--mainFontSize) * 1.25);
        position: absolute;
        right: 9%;
        pointer-events: none;
    }
}

#sys-settings-button {
    order: 2;

    .drawer-icon::after {
        content: " API Settings";
    }

    &:has(.openIcon) {
        ~ #advanced-formatting-button,
        ~ #WI-SP-button,
        ~ #extensions-settings-button,
        ~ #logo_block,
        ~ #user-settings-button {
            display: flex !important;
        }
    }

    &:has(+ #advanced-formatting-button .openIcon),
    &:has(~ #WI-SP-button .openIcon),
    &:has(~ #extensions-settings-button .openIcon),
    &:has(~ #logo_block .openIcon),
    &:has(~ #user-settings-button .openIcon) {
        display: flex !important;
    }
}

#advanced-formatting-button {
    order: 3;

    .drawer-icon::after {
        content: " Formatting";
    }

    &:has(.openIcon) {
        ~ #WI-SP-button,
        ~ #extensions-settings-button,
        ~ #logo_block,
        ~ #user-settings-button {
            display: flex !important;
        }
    }

    &:has(~ #WI-SP-button .openIcon),
    &:has(~ #extensions-settings-button .openIcon),
    &:has(~ #logo_block .openIcon),
    &:has(~ #user-settings-button .openIcon) {
        display: flex !important;
    }

    .drawer-content > .flex-container {
        flex-direction: column;
    }
}

#WI-SP-button {
    order: 4;

    .drawer-icon::after {
        content: " Lorebooks";
    }

    &:has(.openIcon) {
        ~ #extensions-settings-button,
        ~ #logo_block,
        ~ #user-settings-button {
            display: flex !important;
        }
    }

    &:has(~ #extensions-settings-button .openIcon),
    &:has(~ #logo_block .openIcon),
    &:has(~ #user-settings-button .openIcon) {
        display: flex !important;
    }
}

#user-settings-button {
    order: 5;

    .drawer-icon::after {
        content: " User Settings";
    }

    &:has(.openIcon) {
        ~ #extensions-settings-button,
        ~ #logo_block {
            display: flex !important;
        }
    }

    &:has(~ #extensions-settings-button .openIcon),
    &:has(~ #logo_block .openIcon) {
        display: flex !important;
    }

    #user-settings-block-content {
        flex-direction: column;
    }
}

#logo_block {
    order: 6;

    .drawer-icon {
        &::before {
            content: "\f302";
        }

        &::after {
            content: " Backgrounds";
        }
    }

    &:has(.openIcon) ~ #extensions-settings-button {
        display: flex !important;
    }

    &:has(~ #extensions-settings-button .openIcon) {
        display: flex !important;
    }
}

#extensions-settings-button {
    order: 7;

    .drawer-icon {
        &::before {
            content: "\f12e";
        }

        &::after {
            content: " Extensions";
        }
    }
}

#persona-management-button {
    position: fixed;
    bottom: -3px;
    padding: var(--borderRadiusSmol);
    margin-left: -0.666em;
    z-index: 1;
    width: inherit;
    order: 13;

    .drawer-icon {
        display: flex;
        align-items: center;
        gap: 8px;

        &.closedIcon {
            opacity: 0.72 !important;

            &:hover {
                opacity: 1 !important;
            }
        }

        span {
            font-size: 18px;
            font-weight: 720;
            font-family: var(--fontFamily);
        }
    }

    .persona_avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#rightNavHolder {
    order: 8;

    .drawer-icon::after {
        content: "Characters";
        margin-left: -3px;
    }

    #right-nav-panel {
        #CharListButtonAndHotSwaps .flexFlowColumn.flex-container {
            flex: 1;
            flex-flow: row-reverse;
            justify-content: space-between;
        }

        #rm_button_characters {
            width: max-content;

            &::after {
                content: " All Cards";
                font-family: var(--fontFamily);
                font-weight: 700;
            }
        }

        &:has(#rm_ch_create_block[style*="display: block"]) {
            #rm_button_characters::before {
                content: "\f053";
            }
            #rm_button_characters::after {
                content: " Back";
                font-family: var(--fontFamily);
                font-weight: 700;
            }
        }

        &:has(#rm_ch_create_block[style*="display: none"]) {
            #rm_button_selected_ch h2:not(:empty)::after {
                content: " \f054";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
            }
        }

        #form_create:has(#firstMessageWrapper[style*="display: none"]) {
            #mes_example_div {
                display: none;
            }
        }

        #form_create {
            #firstmessage_textarea {
                flex: none;
                height: 20svh !important;
            }
            textarea {
                resize: none;
            }
        }

        #CharListButtonAndHotSwaps {
            flex-wrap: wrap;

            .hotswap.avatars_inline.flex-container.expander {
                overflow-x: scroll;
                flex-wrap: nowrap;
                max-height: calc(
                    var(--avatar-base-height) * var(--big-avatar-height-factor) +
                        2 * var(--avatar-base-border-radius) - 10px
                );
            }
        }

        #form_character_search_form {
            flex-wrap: wrap;

            #rm_button_create {
                order: -2;
            }

            #rm_button_group_chats {
                order: -1;
            }
        }

        .wide100p.character_name_block {
            flex-direction: column;
            gap: 0;
        }

        .tags.tags_inline {
            display: none;
        }
    }
}

#sidebarToggle {
    position: absolute;
    left: 103%;
    top: 45%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 11;
    visibility: visible !important;
    transition: var(--transition);

    #top-settings-holder:has(.drawer-icon.openIcon) & {
        display: none;
    }

    #top-settings-holder.collapsed & {
        left: 0.5rem;

        .arrow1 {
            transform: rotate(-35deg) translateY(0.25rem);
        }

        .arrow2 {
            transform: rotate(35deg) translateY(-0.25rem);
        }
    }

    .arrow1,
    .arrow2 {
        height: 1.25rem;
        width: 0.25rem;
        background-color: white;
        transition: var(--transition);
    }

    .arrow1 {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .arrow2 {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    &:hover {
        .arrow1 {
            transform: rotate(35deg) translateY(0.25rem);
        }

        .arrow2 {
            transform: rotate(-35deg) translateY(-0.25rem);
        }
    }
}

.drawer-content,
#right-nav-panel,
#character_popup {
    position: fixed;
    max-height: 100dvh !important;
    width: var(--panelSize);
    height: 100dvh;
    top: 0px;
    right: inherit;
    left: var(--barSize);
    padding: var(--insidePadding);
    border: 0px;
    border-radius: 0px;
    background-color: var(--SmartThemeChatTintColor);
    box-shadow: none;
}

#sheld {
    max-width: calc(100% - var(--barSize));
    max-height: 100dvh;
    height: 100dvh;
    top: 0px;
    left: var(--barSize);
    padding: 0px var(--insidePadding);
    background-color: var(--SmartThemeChatTintColor);
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
    -webkit-backdrop-filter: blur(var(--SmartThemeBlurStrength));

    #top-settings-holder:has(.drawer-content.openDrawer):not(
            :has(#explore-button .drawer-content.openDrawer)
        )
        ~ &,
    #top-settings-holder:has(.drawer-content.pinnedOpen) ~ &,
    body:has(#character_popup[style*="display: flex"]) > & {
        left: initial;
        width: calc(100% - var(--barSize) - var(--panelSize));

        #splash {
            top: 9px;
            left: 63px;
        }
    }

    &.collapsed {
        left: 0px;
        transition: var(--transition);
    }

    &.shifted {
        left: 33%;
    }

    #chat {
        max-height: 100dvh;
        padding-bottom: 4rem;
        background-color: transparent;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    #form_sheld {
        position: absolute;
        bottom: 0px;
        margin: 0px;
        margin-left: -10px;
        padding: 10px;
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);

        #send_form {
            border: none;
            background-color: transparent !important;

            #nonQRFormItems {
                #extensionsMenuButton.fa-magic-wand-sparkles::before {
                    content: "\f0c6";
                }

                #options_button::before {
                    content: "\f142";
                }
            }

            #send_textarea {
                border-radius: var(--borderRadius);
                border-color: transparent;
                clip-path: none;
                background-color: var(--color1);
                padding: 6px 1rem;
                resize: none;
            }

            #rightSendForm {
                margin-right: 0.25rem;

                #send_but::before {
                    content: "\f0aa";
                }

                #mes_continue::before {
                    content: "\f0a9";
                }
            }
        }
    }
}

.mes {
    padding: 10px;

    &.last_mes {
        > .swipe_left,
        > .swipe_right {
            visibility: hidden;
        }
    }

    &:not(.last_mes),
    &[is_user="true"] {
        .swipes-counter,
        .mes_swipe_left,
        .mes_swipe_right {
            display: none;
        }
    }

    &[is_user="true"] {
        padding: 0 10px;
    }

    &:hover {
        .swipes {
            .swipes-counter {
                opacity: 0.7;
            }

            .mes_swipe_left,
            .mes_swipe_right {
                opacity: 0.3;
            }
        }
    }

    .swipes {
        .swipes-counter {
            font-weight: 500;
            opacity: 0;
            transition: var(--transition);
        }

        .mes_swipe_left,
        .mes_swipe_right {
            cursor: pointer;
            transition: var(--transition);
            filter: drop-shadow(0px 0px 2px black);
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .mes_buttons,
    .mes_edit_buttons {
        justify-content: flex-start;
        float: none;
    }

    .mes_block {
        transform: none !important;

        .timestamp {
            order: 1;
        }

        .ch_name.flex-container.justifySpaceBetween {
            margin-bottom: 0.5rem;
        }

        .mes_buttons {
            margin-top: 0.5rem;
            padding: 0;
        }

        .mes_edit_buttons {
            margin-top: 0.5rem;
            padding-bottom: 0;

            .menu_button {
                height: 1rem;
                aspect-ratio: 3/1;
            }
        }

        .mes_text {
            padding: 0;
            line-height: var(--lineHeight);

            & > :last-child {
                margin-bottom: 0;
            }

            p {
                margin-bottom: var(--lineHeight);
            }

            h1,
            h2,
            h3,
            h4,
            a:not(.fa-solid) {
                margin-top: 0px;
                margin-left: 0px;
            }

            ol,
            ul {
                margin-block-start: 10px;
                margin-block-end: 10px;
                padding-inline-start: 30px;
            }

            #curEditTextarea {
                padding: 0px;
                resize: none;
                background-color: transparent;
                font-family: inherit;
                font-weight: inherit;
                line-height: var(--lineHeight);
                border: none;
            }
        }
    }

    body:not(.bubblechat) &[is_user="true"] {
        .name_text {
            visibility: hidden;
            text-indent: -999px;
            line-height: 0;

            &::after {
                content: "(You)" !important;
                text-indent: 0px;
                visibility: visible;
                display: block;
                line-height: initial;
            }
        }
    }

    &:not(:hover) {
        .mes_buttons {
            opacity: 0;
        }

        .mesAvatarWrapper {
            .mesIDDisplay,
            .mes_timer,
            .tokenCounterDisplay {
                opacity: 0;
            }
        }
    }

    .mesIDDisplay,
    .mes_timer,
    .tokenCounterDisplay {
        transition: var(--transition);
    }

    .mes_img_controls {
        height: 100%;
    }

    .right_menu_button.fa-lg.fa-solid.fa-magnifying-glass.mes_img_enlarge {
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

/* splash text */
@keyframes splash {
    0% {
        transform: scale(0.9) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(-10deg);
    }
}

#splash {
    text-align: center;
    font-style: normal;
    color: #ffff00;
    text-shadow: 2px 2px 0px #3f3f00 !important;
    position: relative;
    margin: 0px;
    height: 0px;
    left: 5%;
    animation: splash 250ms alternate infinite;
}

/* random stuff */
#avatarCropWrap {
    .cropper-face.cropper-move {
        height: 66.666%;
        top: 16.5%;
        background-color: rgba(255, 255, 255, 0.1);
        border: 3px rgb(51, 153, 255) solid;
        border-radius: 100%;
        opacity: 1;
    }
}

#extensions_settings .inline-drawer-toggle.inline-drawer-header,
#extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
#user-settings-block h4,
.standoutHeader {
    background-image: none;
}

.expression-holder {
    width: fit-content;
    resize: none;
}

.zoomed_avatar,
.zoomed_avatar img {
    z-index: 10000;
}
