@import url('history.css');
@import url('explore.css');
@import url('nudges.css');
@import url('mobile.css');

:root {
    --fontFamily: "SF Pro", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --mainFontSize: calc(var(--fontScale) * 17px);
    --lineHeight: calc(var(--mainFontSize) * 1.5);
    --barSize: 20%;
    --panelSize: 45%;
    --outsideMargin: 0.9rem;
    --insidePadding: 10px;
    --borderRadius: 1.5rem;
    --borderRadiusSmol: 0.625rem;
    --color1: rgb(45, 45, 45);
    --color2: rgb(63, 63, 63);
}

html,
body {
    font-family: var(--fontFamily);
}

hr {
    background-image: none;
    background-color: var(--SmartThemeBodyColor);
}

#top-bar,
#persona-management-button .drawer-icon::before,
#ReverseProxyWarningMessage,
#quickReplyPopoutButton,
#summaryExtensionPopoutButton,
.mes_edit_copy,
.mes_edit_up,
.mes_edit_down {
    display: none !important;
}

body.big-avatars {

    .avatar,
    .avatar img {
        width: 50px;
        height: 75px;
    }
}

#top-settings-holder {
    background-color: var(--SmartThemeBlurTintColor);
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100dvh;
    width: var(--barSize);
    gap: 3px;
    padding: var(--insidePadding);
    transition: 0.18s all ease-in-out;

    &.collapsed {
        visibility: collapse;
        width: 0;

        #ai-config-button,
        #sys-settings-button,
        #advanced-formatting-button,
        #WI-SP-button,
        #logo_block,
        #extensions-settings-button,
        #persona-management-button,
        #user-settings-button,
        #rightNavHolder,
        .historyButton,
        #select_chat_div,
        #select_chat_search,
        #explore-button {
            display: none;
        }

        #sidebarToggle {
            left: 0.45rem;

            .arrow1 {
                transform: rotate(-36deg) translateY(0.18rem);
            }

            .arrow2 {
                transform: rotate(36deg) translateY(-0.18rem);
            }
        }
    }

    &:has(.drawer-icon.openIcon) #sidebarToggle {
        display: none;
    }
}

#avatarCropWrap {
    .cropper-face.cropper-move {
        height: 66.666%;
        top: 16.5%;
        background-color: rgba(255, 255, 255, 0.1);
        border: 3px rgb(51, 153, 255) solid;
        border-radius: 100%;
        opacity: 1;
    }
}

.drawer {
    justify-content: left;
}

.drawer-icon {
    font-size: 1.53em;
    padding: 0.36rem;

    &::before {
        display: inline-block;
        width: 36px;
    }

    &::after {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 720;
        font-family: var(--fontFamily);
    }
}

.drawer-toggle,
.drawer-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.drawer-toggle {
    border-radius: var(--borderRadiusSmol);

    &:hover {
        background-color: var(--color1);
    }
}

#sys-settings-button,
#advanced-formatting-button,
#WI-SP-button,
#logo_block,
#extensions-settings-button,
#user-settings-button {
    padding-left: 1.08em;
}

#ai-config-button {
    order: 1;

    &:has(.openIcon) {
        .inline-drawer-icon {
            transform: rotate(180deg);
        }
    }

    &:not(:has(.openIcon)) {

        ~#sys-settings-button:not(:has(.openIcon)),
        ~#advanced-formatting-button:not(:has(.openIcon)),
        ~#WI-SP-button:not(:has(.openIcon)),
        ~#extensions-settings-button:not(:has(.openIcon)),
        ~#logo_block:not(:has(.openIcon)),
        ~#user-settings-button:not(:has(.openIcon)) {
            display: none;
        }
    }

    .drawer-toggle {
        display: flex;
        align-items: center;
    }

    .drawer-toggle:not(:hover)~.fa-chevron-down.inline-drawer-icon {
        opacity: 0.3;
    }

    .drawer-icon {

        &::before {
            content: "\f013";
        }

        &::after {
            content: " Settings";
        }
    }

    >.inline-drawer-icon {
        font-size: calc(var(--mainFontSize)*1.25);
        position: absolute;
        right: 9%;
        pointer-events: none;
    }
}

#sys-settings-button {
    order: 2;

    .drawer-icon::after {
        content: " API Settings";
    }

    &:has(.openIcon) {

        ~#advanced-formatting-button,
        ~#WI-SP-button,
        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(+#advanced-formatting-button .openIcon),
    &:has(~#WI-SP-button .openIcon),
    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }
}

#advanced-formatting-button {
    order: 3;

    .drawer-icon::after {
        content: " Formatting";
    }

    &:has(.openIcon) {

        ~#WI-SP-button,
        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(~#WI-SP-button .openIcon),
    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }

    .drawer-content>.flex-container {
        flex-direction: column;
    }
}

#WI-SP-button {
    order: 4;

    .drawer-icon::after {
        content: " Lorebooks";
    }

    &:has(.openIcon) {

        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }
}

#user-settings-button {
    order: 5;

    .drawer-icon::after {
        content: " User Settings";
    }

    &:has(.openIcon) {

        ~#extensions-settings-button,
        ~#logo_block {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon) {
        display: flex !important;
    }

    #user-settings-block-content {
        flex-direction: column;
    }
}

#logo_block {
    order: 6;

    .drawer-icon {
        &::before {
            content: "\f302"
        }

        &::after {
            content: " Backgrounds";
        }
    }

    &:has(.openIcon) {

        ~#extensions-settings-button {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon) {
        display: flex !important;
    }
}

#extensions-settings-button {
    order: 7;

    .drawer-icon {
        &::before {
            content: "\f12e";
        }

        &::after {
            content: " Extensions";
        }
    }
}

#persona-management-button {
    position: fixed;
    bottom: -3px;
    padding: 0.63em;
    margin-left: -0.666em;
    z-index: 1;
    width: inherit;
    order: 13;

    .drawer-icon {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            font-size: 18px;
            font-weight: 720;
            font-family: var(--fontFamily);
        }
    }

    .drawer-icon.closedIcon {
        opacity: 0.72 !important;

        &:hover {
            opacity: 1 !important;
        }
    }

    .persona_avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }
}

#rightNavHolder {
    order: 8;

    .drawer-icon::after {
        content: "Characters";
        margin-left: -3px;
    }

    #right-nav-panel {
        #CharListButtonAndHotSwaps .flexFlowColumn.flex-container {
            flex: 1;
            flex-flow: row-reverse;
            justify-content: space-between;
        }

        #rm_button_characters {
            width: max-content;

            &::after {
                content: " All Cards";
                font-family: var(--fontFamily);
                font-weight: 720;
            }
        }

        &:has(#rm_ch_create_block[style*="display: block"]) #rm_button_characters::before {
            content: "\f053";
        }

        &:has(#rm_ch_create_block[style*="display: block"]) #rm_button_characters::after {
            content: " Back";
            font-family: var(--fontFamily);
            font-weight: 720;
        }

        &:has(#rm_ch_create_block[style*="display: none"]) #rm_button_selected_ch h2:not(:empty)::after {
            content: " \f054";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
        }

        #CharListButtonAndHotSwaps {
            flex-wrap: wrap;

            .hotswap.avatars_inline.flex-container.expander {
                overflow-x: scroll;
                flex-wrap: nowrap;
                max-height: calc(var(--avatar-base-height) * var(--big-avatar-height-factor) + 2 * var(--avatar-base-border-radius) - 10px);
            }
        }

        #form_character_search_form {
            flex-wrap: wrap;

            #rm_button_create {
                order: -2;
            }

            #rm_button_group_chats {
                order: -1;
            }
        }

        .wide100p.character_name_block {
            flex-direction: column;
            gap: 0;
        }

        .tags.tags_inline {
            display: none;
        }
    }
}

#sidebarToggle {
    position: absolute;
    left: 103%;
    top: 45%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 11;
    visibility: visible !important;
    transition: 0.18s all ease-in-out;

    .arrow1,
    .arrow2 {
        height: 1.08rem;
        width: 0.36em;
        background-color: white;
        transition: 0.18s all ease-in-out;
    }

    .arrow1 {
        border-top-left-radius: 0.18rem;
        border-top-right-radius: 0.18rem;
    }

    .arrow2 {
        border-bottom-left-radius: 0.18rem;
        border-bottom-right-radius: 0.18rem;
    }

    &:hover {
        .arrow1 {
            transform: rotate(36deg) translateY(0.18rem);
        }

        .arrow2 {
            transform: rotate(-36deg) translateY(-0.18rem);
        }
    }
}

.drawer-content,
#right-nav-panel,
#character_popup {
    position: fixed;
    max-height: 100dvh !important;
    width: var(--panelSize);
    height: 100dvh;
    top: 0;
    right: inherit;
    left: var(--barSize);
    padding: var(--insidePadding);
    border: 0;
    border-radius: 0;
    background-color: var(--SmartThemeChatTintColor);
    box-shadow: none;
}

#sheld {
    max-width: calc(100% - var(--barSize)) !important;
    max-height: 100dvh;
    height: 100dvh;
    top: 0;
    left: var(--barSize);
    padding: 0 var(--insidePadding);
    background-color: var(--SmartThemeChatTintColor);
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
    -webkit-backdrop-filter: blur(var(--SmartThemeBlurStrength));

    &.collapsed {
        left: 0;
        transition: 0.18s all ease-in-out;
    }

    &.shifted {
        left: 33%;
    }

    #chat {
        max-height: 100dvh;
        padding-bottom: 4rem;
        background-color: transparent;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    #form_sheld {
        position: absolute;
        bottom: 0px;
        margin: 0px;
        margin-left: -10px;
        padding: 10px;
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);

        #send_form {
            border: none;
            background-color: transparent !important;

            #nonQRFormItems {

                #extensionsMenuButton.fa-magic-wand-sparkles::before {
                    content: "\f0c6";
                }

                #options_button::before {
                    content: "\f142";
                }
            }

            #send_textarea {
                border-radius: var(--borderRadius);
                border-color: transparent;
                clip-path: none;
                background-color: var(--color1);
                padding: 6px 1rem;
                resize: none;
            }

            #rightSendForm {
                margin-right: 0.27rem;

                #send_but {
                    &::before {
                        content: "\f0aa";
                    }
                }

                #mes_continue {
                    ::before {
                        content: "\f0a9";
                    }
                }
            }
        }
    }
}

#top-settings-holder:has(.drawer-icon.openIcon):not(:has(#explore-button .drawer-icon.openIcon))~#sheld,
#top-settings-holder:has(.drawer-content.pinnedOpen)~#sheld,
body:has(#character_popup[style*="display: flex"])>#sheld {
    left: initial;
    width: calc(100% - var(--barSize) - var(--panelSize));

    #splash {
        top: 9px;
        left: 63px;
    }
}

.mes {

    &.last_mes {
        .mes_text {
            padding-right: 0px;
        }

        >.swipe_left,
        >.swipe_right {
            visibility: hidden;
        }
    }

    &:not(.last_mes),
    &[is_user="true"] {

        .swipes-counter,
        .mes_swipe_left,
        .mes_swipe_right {
            display: none;
        }
    }

    &:hover {
        .swipes {

            .swipes-counter {
                opacity: 0.7;
            }

            .mes_swipe_left,
            .mes_swipe_right {
                opacity: 0.3;
            }
        }
    }

    .swipes {
        margin-top: 3px;

        .swipes-counter {
            font-weight: 500;
            opacity: 0;
            transition: 0.18s ease-in-out;
        }

        .mes_swipe_left,
        .mes_swipe_right {
            cursor: pointer;
            transition: 0.18s ease-in-out;
            filter: drop-shadow(0px 0px 2px black);
            opacity: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .mes_block {
        transform: none !important;

        .timestamp {
            order: 1;
        }

        .mes_buttons {
            padding: 0;
        }

        .mes_edit_buttons {
            padding-bottom: 0;

            .menu_button {
                height: 18px;
                aspect-ratio: 3/1;
            }
        }

        .mes_text {
            line-height: var(--lineHeight);

            &>:last-child {
                margin-bottom: 0;
            }

            p {
                margin-bottom: var(--lineHeight);
            }

            h1,
            h2,
            h3,
            h4,
            a:not(.fa-solid) {
                margin-top: 0px;
                margin-left: 0px;
            }

            ol,
            ul {
                margin-block-start: 10px;
                margin-block-end: 10px;
                padding-inline-start: 30px;
            }

            #curEditTextarea {
                padding: 0;
                resize: none;
                background-color: transparent;
                font-family: inherit;
                font-weight: inherit;
                line-height: var(--lineHeight);
                border: none;
            }
        }
    }

    body.hideChatAvatars & {
        .mesAvatarWrapper {
            display: none;
        }
    }

    body.bubblechat & {
        border: none;
        border-radius: 0px;
        background-color: transparent;
        margin-bottom: 0;

        .mes_text {
            width: fit-content;
            padding: 0.625rem 1rem;
            border-radius: var(--borderRadius);
            background-color: var(--SmartThemeBotMesBlurTintColor);

            #curEditTextarea {
                width: -webkit-fill-available;
            }
        }

        .mes_text:has(#curEditTextarea) {
            width: unset;
        }
    }

    &[is_user="true"] {
        body.bubblechat & {
            background-color: transparent;

            .mesAvatarWrapper {
                display: none;
            }

            .mes_block {
                display: flex;
                padding-left: 0px;
                padding-right: 0px;
                overflow-y: hidden;
                justify-content: end;

                .mes_text {
                    background-color: var(--SmartThemeUserMesBlurTintColor);
                }

                .mes_img_container.img_extra {
                    float: right;
                    clear: both;
                    width: fit-content;
                    border-radius: var(--borderRadius);
                    border-top-right-radius: 3px;
                    margin-top: 10px;
                    padding: 0.81rem;
                    background-color: var(--SmartThemeUserMesBlurTintColor);
                }

                .ch_name.flex-container.justifySpaceBetween {
                    flex-wrap: nowrap;
                    align-self: center;
                    gap: 10px;

                    .flex-container.flex1.alignitemscenter {
                        order: 2;
                        flex-direction: row-reverse;
                        flex: 0;
                    }
                }
            }
        }

        body:not(.bubblechat) & {
            .name_text::after {
                content: "(You)" !important;
                text-indent: 0px;
                visibility: visible;
                display: block;
                line-height: initial;
            }
        }

        .flex-container.alignItemsBaseline {
            flex-direction: row-reverse;
            width: max-content;

            .name_text {
                visibility: hidden;
                text-indent: -999px;
                line-height: 0;
            }

            .timestamp {
                align-self: end;
            }
        }
    }

    &:not([is_user="true"]) {
        .ch_name.flex-container.justifySpaceBetween {
            margin-bottom: 0.5rem;
        }
    }

    &:not(:hover) {

        .mes_buttons {
            opacity: 0;
        }

        .mesAvatarWrapper {

            .mesIDDisplay,
            .mes_timer,
            .tokenCounterDisplay {
                opacity: 0;
            }
        }
    }

    .mesIDDisplay,
    .mes_timer,
    .tokenCounterDisplay {
        transition: 0.18s all ease-in-out;
    }

    .mes_img_controls {
        height: 100%;
    }

    .right_menu_button.fa-lg.fa-solid.fa-magnifying-glass.mes_img_enlarge {
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

#extensions_settings .inline-drawer-toggle.inline-drawer-header,
#extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
#user-settings-block h4,
.standoutHeader {
    background-image: none;
}

.expression-holder {
    width: fit-content;
    resize: none;

    body.waifuMode & {
        left: var(--barSize);
    }
}

.zoomed_avatar,
.zoomed_avatar img {
    z-index: 10000;
}

/* Spash text */
@keyframes splash {
    0% {
        transform: scale(0.9) rotate(-9deg)
    }

    100% {
        transform: scale(1) rotate(-9deg)
    }
}

#splash {
    text-align: center;
    font-style: normal;
    color: #FFFF00;
    text-shadow: 2px 2px 0px #3F3F00 !important;
    position: relative;
    margin: 0;
    height: 0;
    left: 50%;
    animation: splash .27s alternate infinite;
}
