body.hideChatAvatars .mes .ch_name.flex-container.justifySpaceBetween,
#rm_button_panel_pin_div {
    display: none !important;
}

#top-settings-holder {
    width: 100% !important;
    height: calc(var(--topBarBlockSize) + 1px);
    top: calc(100dvh - var(--topBarBlockSize) - 1px);
}

#sheld,
#right-nav-panel,
#left-nav-panel,
#floatingPrompt,
#cfgConfig,
#logprobsViewer,
#movingDivs > div {
    top: 0 !important;
}

#character_popup,
.drawer-content {
    height: calc(100dvh - var(--topBarBlockSize)) !important;
}

#persona-management-button {
    order: 9;

    & .drawer-icon span {
        display: none;
    }
}

#CharListButtonAndHotSwaps {
    flex-wrap: wrap;
}

#HotSwapWrapper > div {
    overflow-y: scroll;
}

#chat {
    &:not(:has(.mes[ch_name="SillyTavern System"][mesid="0"])) {
        padding-top: 6rem;
    }
}

#chat_header {
    z-index: 100;
    justify-content: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(var(--backdropBlur));

    &:has(~ #chat [ch_name="SillyTavern System"][mesid="0"]) {
        display: none;
    }

    & .avatar {
        flex: 0;
        align-self: center;
    }

    & .ch_name {
        flex-direction: column;
        align-items: baseline;

        & .mes_buttons {
            display: none !important;
        }
    }
}

#chat_header .mes_timer,
#chat_header .mesIDDisplay,
#chat_header .tokenCounterDisplay {
    cursor: default;
    opacity: 0.7;
    font-size: calc(var(--mainFontSize) * 0.69);
    text-align: center;
    font-weight: 600;
}

#form_sheld {
    margin: unset;
}

#explore-button {
    & .character-list-item {
        width: 50%;
    }
}

.chub-popup {
    flex-wrap: wrap;

    div:first-child {
        margin: 0 auto;
        align-items: center;
    }
}

.chat-flex {
    display: none;
}

#select_chat_div {
    width: 100%;
}
