:root {
    --mobile-margin: calc(100dvh - var(--topBarBlockSize) - 2.5rem);
}

body.hideChatAvatars .mes .ch_name.flex-container.justifySpaceBetween,
#rm_button_panel_pin_div,
#advanced-formatting-button,
#WI-SP-button {
    display: none !important;
}

#top-settings-holder {
    width: 100% !important;
    height: calc(var(--topBarBlockSize) + 1px);
    top: var(--mobile-margin);
    padding-bottom: 5rem;
    padding-top: 0.5rem;
}

.drawer {
    align-items: unset;
}

#sheld,
#right-nav-panel,
#left-nav-panel,
#floatingPrompt,
.drawer-content,
#cfgConfig,
#logprobsViewer,
#movingDivs > div {
    top: 0 !important;
}

#character_popup,
#world_popup,
.drawer-content {
    margin-top: 0px;
}

#character_popup,
#world_popup,
#left-nav-panel,
#right-nav-panel,
.drawer-content {
    max-width: 100dvw !important;
    width: 100dvw !important;
}

#character_popup,
.drawer-content,
#sheld {
    height: var(--mobile-margin) !important;
}

#persona-management-button {
    order: 9;
    opacity: 1;

    & .drawer-icon span {
        display: none;
    }
}

#CharListButtonAndHotSwaps {
    flex-wrap: wrap;
}

#HotSwapWrapper {
    & > div {
        overflow-y: scroll;
    }
}

.mes {
    &[is_user="false"] {
        & .mes_text::before {
            bottom: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-right-radius: 1rem 0.875rem;
        }
    }

    & .mes_text {
        & img {
            max-height: 75dvh !important;
        }
    }
}

#form_sheld {
    margin: unset;
}

.chat-flex {
    display: none;
}

#select_chat_div {
    width: 100%;
}
