:root {
    --mobile-margin: calc(100dvh - var(--topBarBlockSize) - 1.5rem);
}

body.hideChatAvatars .mes .ch_name.flex-container.justifySpaceBetween,
#rm_button_panel_pin_div,
#advanced-formatting-button,
#WI-SP-button {
    display: none !important;
}

#top-settings-holder {
    width: 100% !important;
    height: calc(var(--topBarBlockSize) + 1px);
    top: var(--mobile-margin);
    padding-bottom: 5rem;
}

.drawer {
    align-items: unset;
}

#sheld,
#right-nav-panel,
#left-nav-panel,
#floatingPrompt,
.drawer-content,
#cfgConfig,
#logprobsViewer,
#movingDivs > div {
    top: 0 !important;
}

#character_popup,
.drawer-content,
#sheld {
    height: var(--mobile-margin) !important;
}

#persona-management-button {
    order: 9;
    opacity: 1;

    & .drawer-icon span {
        display: none;
    }
}

#CharListButtonAndHotSwaps {
    flex-wrap: wrap;
}

#HotSwapWrapper {
    & > div {
        overflow-y: scroll;
    }
}

#chat {
    body.hideChatAvatars
        &:not(:has(.mes[ch_name="SillyTavern System"][mesid="0"])) {
        padding-top: 6rem;
    }
}

#chat_header {
    z-index: 100;
    justify-content: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(var(--backdrop-blur));

    &:has(~ #chat [ch_name="SillyTavern System"][mesid="0"]),
    body:not(.hideChatAvatars) & {
        display: none;
    }

    & .avatar {
        flex: 0;
        align-self: center;
    }

    & .ch_name {
        flex-direction: column;
        align-items: baseline;

        & .mes_buttons {
            display: none !important;
        }
    }

    & .mes_timer,
    & .mesIDDisplay,
    & .tokenCounterDisplay {
        cursor: default;
        opacity: 0.7;
        font-size: calc(var(--mainFontSize) * 0.69);
        text-align: center;
        font-weight: 600;
    }
}

.mes {
    &[is_user="false"] {
        & .mes_text::before {
            bottom: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-right-radius: 1rem 0.875rem;
        }
    }

    & .mes_text {
        & img {
            max-height: 75dvh !important;
        }
    }
}

#form_sheld {
    margin: unset;
}

.chat-flex {
    display: none;
}

#select_chat_div {
    width: 100%;
}
