/* Nudges */
#nudges {
    display: grid;
    grid-auto-flow: column;
    gap: 0.45rem;
    margin: 0.45rem 0;

    .nudge-container {
        gap: 0.45rem;
        max-width: calc(calc(var(--sheldWidth) / 2) - 0.63rem - 0.45rem)
    }

    .nudge_button {
        border-radius: var(--borderRadiusSmol);
        background-color: var(--color1);
        margin: 0;

        #nudge_prompt {
            width: 100%;
            padding: 0.45rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
