#nudges {
    grid-auto-flow: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
    display: grid;
}

.nudge-container {
    max-width: calc(calc(var(--sheldWidth) / 2) - 1rem);
    gap: 0.5rem;
}

.nudge_button {
    border-radius: var(--borderRadiusSmol);
    background-color: var(--SmartThemeBlurTintColor);
    margin: 0;
}

#nudge_prompt {
    text-overflow: ellipsis;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
}
