select:focus-visible,
input:focus-visible,
textarea:focus-visible,
input[type="checkbox"]:focus-visible {
    outline: none;
}

hr {
    background-image: none;
    background-color: var(--SmartThemeBodyColor);
}

#extensions_settings .inline-drawer-toggle.inline-drawer-header,
#extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
#user-settings-block h4,
.standoutHeader {
    background-image: none;
}
