:root {
    --barSize: calc(var(--topBarBlockSize) + 14.4rem);
    --panelSize: 45dvw;
    --outsideMargin: 0.9rem;
    --borderRadius: 0.9rem;
    --color1: rgb(45, 45, 45);
    --color2: rgb(63, 63, 63);
}

html,
body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: var(--SmartThemeBlurTintColor);
}

hr {
    background-image: none;
    background-color: var(--SmartThemeBodyColor);
}

body.big-avatars {

    .avatar,
    .avatar img {
        width: 50px;
        height: 75px;
    }
}

#top-settings-holder {
    background-color: var(--SmartThemeBlurTintColor);
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100dvh;
    width: var(--barSize);
    gap: 3px;
    padding: 0.63rem;
    transition: 0.18s all ease-in-out;

    &.collapsed {
        visibility: collapse;
        width: 0;

        #ai-config-button,
        #sys-settings-button,
        #advanced-formatting-button,
        #WI-SP-button,
        #logo_block,
        #extensions-settings-button,
        #persona-management-button,
        #user-settings-button,
        #rightNavHolder,
        .historyButton,
        #select_chat_div,
        #select_chat_search,
        #explore-button {
            display: none;
        }

        .closeSidebar {
            left: 0.45rem;

            .arrow1 {
                transform: rotate(-36deg) translateY(0.18rem);
            }

            .arrow2 {
                transform: rotate(36deg) translateY(-0.18rem);
            }
        }
    }
}

.drawer {
    justify-content: left;
}

.drawer-icon {
    font-size: 1.53em;
    padding: 0.36rem;

    &::before {
        display: inline-block;
        width: 36px;
    }

    &::after {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 720;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }
}

.drawer-toggle,
.drawer-icon {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.drawer-toggle {
    border-radius: 0.63rem;

    &:hover {
        background-color: var(--color1);
    }
}

#top-bar,
#persona-management-button .drawer-icon::before,
.select_chat_info.flex-container,
.select_chat_block_mes,
#ReverseProxyWarningMessage,
#quickReplyPopoutButton,
.mes_text br,
.mes_create_bookmark,
#summaryExtensionPopoutButton {
    display: none;
}

#sys-settings-button,
#advanced-formatting-button,
#WI-SP-button,
#logo_block,
#extensions-settings-button,
#user-settings-button {
    padding-left: 1.08em;
}

#ai-config-button {
    order: 1;

    .drawer-icon {
        &::before {
            content: "\f013"
        }

        &::after {
            content: " Settings";
        }
    }

    &:not(:has(.openIcon)) {

        ~#sys-settings-button:not(:has(.openIcon)),
        ~#advanced-formatting-button:not(:has(.openIcon)),
        ~#WI-SP-button:not(:has(.openIcon)),
        ~#extensions-settings-button:not(:has(.openIcon)),
        ~#logo_block:not(:has(.openIcon)),
        ~#user-settings-button:not(:has(.openIcon)) {
            display: none;
        }
    }
}

#sys-settings-button {
    order: 2;

    .drawer-icon::after {
        content: " API Settings";
    }

    &:has(.openIcon) {

        ~#advanced-formatting-button,
        ~#WI-SP-button,
        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(+#advanced-formatting-button .openIcon),
    &:has(~#WI-SP-button .openIcon),
    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }
}

#advanced-formatting-button {
    order: 3;

    .drawer-icon::after {
        content: " Formatting";
    }

    &:has(.openIcon) {

        ~#WI-SP-button,
        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(~#WI-SP-button .openIcon),
    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }
}

#WI-SP-button {
    order: 4;

    .drawer-icon::after {
        content: " Lorebooks";
    }

    &:has(.openIcon) {

        ~#extensions-settings-button,
        ~#logo_block,
        ~#user-settings-button {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon),
    &:has(~#user-settings-button .openIcon) {
        display: flex !important;
    }
}

#user-settings-button {
    order: 5;

    .drawer-icon::after {
        content: " User Settings";
    }

    &:has(.openIcon) {

        ~#extensions-settings-button,
        ~#logo_block {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon),
    &:has(~#logo_block .openIcon) {
        display: flex !important;
    }
}

#logo_block {
    order: 6;

    .drawer-icon {
        &::before {
            content: "\f302"
        }

        &::after {
            content: " Backgrounds";
        }
    }

    &:has(.openIcon) {

        ~#extensions-settings-button {
            display: flex !important;
        }
    }

    &:has(~#extensions-settings-button .openIcon) {
        display: flex !important;
    }
}

#extensions-settings-button {
    order: 7;

    .drawer-icon {
        &::before {
            content: "\f12e";
        }

        &::after {
            content: " Extensions";
        }
    }
}

#persona-management-button {
    position: fixed;
    bottom: -3px;
    padding: 0.63em;
    margin-left: -0.666em;
    z-index: 1;
    width: inherit;
    order: 13;

    .drawer-icon span {
        vertical-align: super;
        padding-left: 0.09rem;
        font-size: 18px;
        font-weight: 720;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }

    .drawer-icon.closedIcon {
        opacity: 72% !important;
    }

    .persona_avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }
}


#rightNavHolder {
    order: 8;

    .drawer-icon::after {
        content: "Characters";
        margin-left: -3px;
    }

    #right-nav-panel {
        #CharListButtonAndHotSwaps .flexFlowColumn.flex-container {
            flex: 1;
            flex-flow: row-reverse;
            justify-content: space-between;
        }

        #rm_button_characters {
            width: max-content;

            &::after {
                content: " All Cards";
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
                font-weight: 720;
            }
        }

        &:has(#rm_ch_create_block[style*="display: block"]) #rm_button_characters::before {
            content: "\f053";
        }

        &:has(#rm_ch_create_block[style*="display: block"]) #rm_button_characters::after {
            content: " Back";
            font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            font-weight: 720;
        }

        &:has(#rm_ch_create_block[style*="display: none"]) #rm_button_selected_ch h2:not(:empty)::after {
            content: " \f054";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
        }

        #CharListButtonAndHotSwaps {
            flex-wrap: wrap;
        }

        #form_character_search_form {
            flex-wrap: wrap;

            #rm_button_create {
                order: -2;
            }

            #rm_button_group_chats {
                order: -1;
            }
        }

        .wide100p.character_name_block {
            flex-direction: column;
            gap: 0;
        }

        .tags.tags_inline {
            display: none;
        }
    }
}

.chat-flex {
    justify-content: space-around;
    order: 10;

    .historyButton {
        background-color: var(--color1);

        >span {
            padding: 3px 5px 3px 0;
        }

        .fa-solid {
            padding-left: 3px;
        }
    }
}

#select_chat_div {
    order: 12;
    overflow-y: scroll;
    margin-bottom: 4.05em;

    .select_chat_block_filename.select_chat_block_filename_item {
        opacity: 100%;
    }

    #select_chat_name_wrapper {
        flex-wrap: nowrap;

        >.flex-container.gap10px>.flex-container.gap10px {
            flex-wrap: nowrap;
            gap: 5px !important;

            .exportRawChatButton.fa-solid.fa-file-export::before {
                content: "\f1c9";
            }
        }
    }

    .PastChat_cross.opacity50p.hoverglow.fa-solid.fa-skull::before {
        content: "\f1f8";
    }
}

#select_chat_search {
    order: 11;
    max-height: 36px;
    background-color: var(--color1);

    #select_chat_div:empty~& {
        display: none;
    }
}

.drawer-content,
#right-nav-panel,
#character_popup {
    position: fixed;
    top: 0;
    max-height: 100dvh !important;
    height: calc(100dvh - 27px);
    width: calc(var(--panelSize) - 1.8rem);
    right: inherit;
    left: var(--barSize);
    margin: var(--outsideMargin) 0 var(--outsideMargin) var(--outsideMargin);
    padding: 0.63rem;
    border-radius: 0.9rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--SmartThemeChatTintColor);
    box-shadow: none;
}

#sheld {
    left: var(--barSize);
    max-width: calc(100dvw - var(--barSize)) !important;
    max-height: 100dvh;
    height: calc(100dvh - 27px);
    top: 0;
    background-color: var(--SmartThemeChatTintColor);
    border-radius: 0.9rem;
    margin: var(--outsideMargin) auto;
    padding: 0.63rem;

    &.collapsed {
        left: 0;
        transition: 0.18s all ease-in-out;
    }

    #chat {
        max-height: 100dvh;
        margin-bottom: -2px;
        background-color: transparent;
    }

    #form_sheld {

        #send_form {
            border-radius: 0;
            background-color: transparent !important;

            #nonQRFormItems {
                border-radius: 0.9rem;
                border: 1px var(--color2) solid;
                background-color: var(--color1);

                #extensionsMenuButton.fa-magic-wand-sparkles::before {
                    content: "\f0c6";
                }

                #options_button::before {
                    content: "\f142";
                }
            }

            #send_textarea {
                margin: 0.36rem;
                background-color: rgb(45, 45, 45);
                resize: none;
            }

            #rightSendForm {
                margin-right: 0.27rem;

                #send_but::before {
                    content: "\f0aa";
                }

                #mes_continue::before {
                    content: "\f0a9";
                }
            }
        }
    }
}

#top-settings-holder:has(.drawer-icon.openIcon):not(:has(#explore-button .drawer-icon.openIcon))~#sheld,
#top-settings-holder:has(.drawer-content.pinnedOpen)~#sheld,
body:has(#character_popup[style*="display: flex"])>#sheld {
    left: initial;
    width: calc(100dvw - var(--barSize) - var(--panelSize));
    margin-right: var(--outsideMargin);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.closeSidebar {
    position: absolute;
    left: calc(17.1rem + 1px);
    top: 45%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    order: 11;
    visibility: visible !important;
    transition: 0.18s all ease-in-out;

    .arrow1,
    .arrow2 {
        height: 1.08rem;
        width: 0.36em;
        background-color: white;
        transition: 0.18s all ease-in-out;
    }

    .arrow1 {
        border-top-left-radius: 0.18rem;
        border-top-right-radius: 0.18rem;
    }

    .arrow2 {
        border-bottom-left-radius: 0.18rem;
        border-bottom-right-radius: 0.18rem;
    }

    &:hover {
        .arrow1 {
            transform: rotate(36deg) translateY(0.18rem);
        }

        .arrow2 {
            transform: rotate(-36deg) translateY(-0.18rem);
        }
    }
}

.mes {
    body.bubblechat & {
        background-color: transparent;

        .mes_text {
            width: fit-content;
            padding: 0.27rem 0.54rem;
            margin-top: 10px;
            border-radius: 27px;
            border-top-left-radius: 3px;
            background-color: var(--SmartThemeBotMesBlurTintColor);

            p {
                margin: 10px;
            }

            h1,
            h2,
            h3,
            h4,
            a:not(.fa-solid) {
                margin-left: 10px;
            }
        }

        .mes_text:has(#curEditTextarea) {
            width: unset;
        }
    }

    &[is_user="true"] {
        body.bubblechat & {
            background-color: transparent;

            .mesAvatarWrapper {
                order: 2;
            }

            .mes_block {
                padding-left: 63px;
                padding-right: 10px;
                overflow-y: hidden;

                .mes_text {
                    float: right;
                    border-top-left-radius: 27px;
                    border-top-right-radius: 3px;
                    background-color: var(--SmartThemeUserMesBlurTintColor);
                }

                .mes_img_container.img_extra {
                    float: right;
                    clear: both;
                    width: fit-content;
                    border-radius: 27px;
                    border-top-right-radius: 3px;
                    margin-top: 10px;
                    padding: 0.81rem;
                    background-color: var(--SmartThemeUserMesBlurTintColor);
                }

                .ch_name.flex-container.justifySpaceBetween {
                    justify-content: end;

                    .flex-container.flex1.alignitemscenter {
                        order: 2;
                        flex-direction: row-reverse;
                        flex: 0;
                    }
                }

                .mes_buttons {
                    align-self: flex-end;
                }
            }
        }

        .flex-container.alignItemsBaseline {
            flex-direction: row-reverse;
            width: max-content;

            .name_text {
                visibility: hidden;
                text-indent: -999px;
                line-height: 0;

                &::after {
                    content: "(You)" !important;
                    text-indent: 0px;
                    visibility: visible;
                    display: block;
                    line-height: initial;
                }
            }

            .timestamp {
                align-self: end;
            }
        }
    }

    .mes_block {
        transform: none !important;

        .timestamp {
            order: 1;
        }

        .icon-svg.timestamp-icon {
            height: 1rem;
            align-self: center;
        }
    }

    &:not(:hover) {

        .mes_buttons,
        .swipe_left {
            opacity: 0%;
        }

        .swipe_right {
            opacity: 0% !important;
        }

        .mesAvatarWrapper {

            .mesIDDisplay,
            .mes_timer,
            .tokenCounterDisplay {
                opacity: 0%;
            }
        }
    }

    .swipe_left,
    .swipe_right,
    .mesIDDisplay,
    .mes_timer,
    .tokenCounterDisplay {
        transition: 0.18s all ease-in-out;
    }

    .swipe_left {
        left: 0.18em;
    }

    .swipe_right {
        left: 0.81em;
    }

    .swipes-counter {
        margin-bottom: -12px;
        margin-left: -1.8em;
        pointer-events: none;
    }

    .mes_img_controls {
        height: 100%;
    }

    .right_menu_button.fa-lg.fa-solid.fa-magnifying-glass.mes_img_enlarge {
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}

#extensions_settings .inline-drawer-toggle.inline-drawer-header,
#extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
#user-settings-block h4,
.standoutHeader {
    background-image: none;
}

.expression-holder {
    width: fit-content;
    resize: none;

    body.waifuMode & {
        left: var(--barSize);
    }
}

.zoomed_avatar,
.zoomed_avatar img {
    left: var(--barSize)
}


/* chub.ai character seach CSS. taken from the chubsearch extension */
#explore-button {
    order: 9;

    .drawer-icon::after {
        content: " Explore";
    }

    & .drawer-content {
        width: calc(100dvw - var(--barSize) - calc(var(--outsideMargin) * 2));
        margin: var(--outsideMargin);
        border-radius: 0.9rem;
    }
}

.list-and-search-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }

    .flex-align-center {
        align-items: center;
    }

    .flex-container label {
        align-self: center;
        white-space: nowrap;
    }
}

.search-container {
    position: sticky;
    padding: 0 0.9rem;
}

.character-list {
    display: flex;
    flex-flow: wrap;
    padding: 0 0.9rem;
    overflow-y: auto;

    .character-list-item {
        display: inline-flex;
        align-items: flex-start;
        margin: 10px 0;
        padding: 0 10px;
        width: 50%;

        img.thumbnail {
            flex: 0 0 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 0.63rem;
        }

        .info {
            flex: 1;
            text-align: left;
            overflow: hidden;
        }

        .info .name {
            font-weight: bold;
            margin-bottom: 5px;
            text-align: left;
            color: var(--SmartThemeBodyColor)
        }

        .info .name a {
            color: var(--SmartThemeBodyColor)
        }

        .menu_button.download-btn.fa-solid.fa-cloud-arrow-down.faSmallFontSquareFix {
            display: inline-flex;
            margin: 0;
        }

        .info .description {
            color: var(--SmartThemeEmColor);
            overflow: hidden;
            text-overflow: visble;
            text-align: left;
        }

        .info .tags {
            margin-top: 10px;
        }

        .info .author {
            font-size: 0.8rem;
            color: var(--SmartThemeEmColor)
        }

    }
}

body img.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.page-buttons {
    align-content: center;
    align-items: center;
    justify-content: space-between;

    .flex-container:has(#sortOrder) {
        flex-flow: row;
    }
}

.searching {
    filter: grayscale(100%);
}

/* Mobile layout CSS */

@media screen and (max-width: 1000px) {
    #sheld {
        margin: 0;
        height: 100dvh;
        max-width: 100dvw !important;
        border-radius: 0;
    }

    #top-settings-holder {
        padding: 0.62rem 0.18rem;

        &:not(.collapsed)~#sheld {
            filter: brightness(45%)
        }

        &.collapsed {

            #ai-config-button,
            #sys-settings-button,
            #advanced-formatting-button,
            #WI-SP-button,
            #logo_block,
            #extensions-settings-button,
            #persona-management-button,
            #user-settings-button,
            #rightNavHolder,
            .historyButton,
            #select_chat_div,
            #select_chat_search,
            #explore-button {
                display: none !important;
            }
        }
    }

    .drawer-content,
    #explore-button .drawer-content,
    #left-nav-panel,
    #right-nav-panel,
    #character_popup {
        margin: 0;
        top: 0 !important;
        height: 100dvh;
        left: 3.06rem !important;
        max-width: calc(100dvw - 3.06rem) !important;
        min-width: calc(100dvw - 3.06rem) !important;
        border-radius: 0;
    }

    #sys-settings-button,
    #advanced-formatting-button,
    #WI-SP-button,
    #logo_block,
    #extensions-settings-button,
    #user-settings-button {
        padding-left: 0;
        display: flex !important;
    }

    #leftSendForm,
    #rightSendForm {
        align-self: center;
    }

    #persona-management-button {
        position: absolute;
        align-self: center;
    }

    .character-list-item {
        flex-flow: column;
    }
}
