:root {
    --barSize: calc(var(--topBarBlockSize) + 14.4rem);
    --nearBlack: rgba(0, 0, 0, 0.81);
}
html,
body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

body.big-avatars {
    .avatar,
    .avatar img {
        width: 50px;
        height: 75px;
    }
}

@media only screen and (min-width: 1000px) {
    #top-settings-holder {
        background-color: var(--nearBlack);
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        height: 100vh;
        width: var(--barSize);
        gap: 3px;
        padding: 0.63rem;
        transition: 0.09s all ease-in-out;
        &.collapsed {
            visibility: collapse;
            width: 0;
            .closeSidebar {
                left: 0.45rem;
                .arrow1 {
                    transform: rotate(-36deg) translateY(0.18rem);
                }
                .arrow2 {
                    transform: rotate(36deg) translateY(-0.18rem);
                }
            }
        }
    }
    .drawer {
        justify-content: left;
    }
    .drawer-icon {
        font-size: 1.53em;
    }
    .drawer-toggle,
    .drawer-icon {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
    .drawer-toggle {
        padding: 0.36rem;
        border-radius: 0.63rem;
        &:hover {
            background-color: rgb(45, 45, 45);
        }
    }
    .drawer-icon.fa-solid::before {
        display: inline-block;
        width: 36px;
    }
    .drawer-icon.fa-solid::after,
    #persona-management-button .drawer-icon.fa-solid.fa-face-smile span {
        vertical-align: middle;
        font-size: 18px;
        font-weight: 720;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    }
    #sys-settings-button,
    #advanced-formatting-button,
    #WI-SP-button,
    #logo_block,
    #extensions-settings-button {
        padding-left: 1.08em;
    }
    #top-bar,
    #user-settings-button:not(:has(.openIcon))
        ~ #logo_block:not(:has(.openIcon)),
    #persona-management-button .drawer-icon.fa-solid.fa-face-smile::before,
    .select_chat_info.flex-container,
    .select_chat_block_mes,
    #ReverseProxyWarningMessage,
    #quickReplyPopoutButton,
    .mes_text br,
    .mes_create_bookmark {
        display: none;
    }
    .drawer-icon.fa-solid.fa-sliders::after {
        content: " Settings";
    }
    #ai-config-button {
        order: 1;
    }
    .drawer-icon.fa-solid.fa-plug::after {
        content: " API";
    }
    #sys-settings-button {
        order: 2;
    }
    .drawer-icon.fa-solid.fa-font::after {
        content: " Formatting";
    }
    #advanced-formatting-button {
        order: 3;
    }
    .drawer-icon.fa-solid.fa-book-atlas::after {
        content: " World Info";
    }
    #WI-SP-button {
        order: 4;
    }
    .drawer-icon.fa-solid.fa-user-cog::after {
        content: " UI Settings";
    }
    #user-settings-button {
        order: 7;
    }
    .drawer-icon.fa-solid.fa-panorama::after {
        content: " Backgrounds";
    }
    #logo_block {
        order: 8;
    }
    .drawer-icon.fa-solid.fa-cubes::after {
        content: " Extensions";
    }
    #extensions-settings-button {
        order: 5;
    }
    #persona-management-button {
        position: fixed;
        background-color: black;
        bottom: -3px;
        padding: 0.63em;
        margin-left: -0.666em;
        z-index: 1;
        width: inherit;
        .drawer-icon.fa-solid.fa-face-smile span {
            vertical-align: super;
            padding-left: 0.09rem;
        }
        .drawer-icon.fa-solid.fa-face-smile.closedIcon {
            opacity: 72% !important;
        }
        .persona_avatar {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }
    .drawer-icon.fa-solid.fa-address-card::after {
        content: "Characters";
        margin-left: -3px;
    }
    #rightNavHolder {
        order: 8;
        #right-nav-panel {
            #rm_button_characters {
                width: max-content;
                &::after {
                    content: " All Cards";
                    font-family:
                        system-ui,
                        -apple-system,
                        BlinkMacSystemFont,
                        "Segoe UI",
                        Roboto,
                        Oxygen,
                        Ubuntu,
                        Cantarell,
                        "Open Sans",
                        "Helvetica Neue",
                        sans-serif;
                    font-weight: 720;
                }
            }
            #right-nav-panel:has(#rm_ch_create_block[style*="display: block"])
                #rm_button_characters::before {
                content: "\f053";
            }
            #right-nav-panel:has(#rm_ch_create_block[style*="display: block"])
                #rm_button_characters::after {
                content: " Back";
                font-family:
                    system-ui,
                    -apple-system,
                    BlinkMacSystemFont,
                    "Segoe UI",
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    "Open Sans",
                    "Helvetica Neue",
                    sans-serif;
                font-weight: 720;
            }
            #right-nav-panel:has(#rm_ch_create_block[style*="display: none"])
                #rm_button_selected_ch
                h2:not(:empty)::after {
                content: " \f054";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
            }
            #rm_button_create {
                order: -2;
            }
            #rm_button_group_chats {
                order: -1;
            }
            #rm_print_characters_block {
                flex-flow: wrap;
            }
            .character_select.flex-container.wide100p.alignitemsflexstart,
            .group_select.flex-container.wide100p.alignitemsflexstart,
            .bogus_folder_select.flex-container.wide100p.alignitemsflexstart {
                max-height: 5.4rem;
                width: 50%;
            }
            .wide100p.character_name_block {
                flex-direction: column;
                gap: 0;
            }
            .tags.tags_inline {
                display: none;
            }
        }
    }
    .drawer-content,
    #left-nav-panel,
    #right-nav-panel,
    #character_popup {
        position: fixed;
        top: 0;
        max-height: 100vh !important;
        height: 100vh;
        width: 40.5vw;
        right: inherit;
        left: var(--barSize);
        border-radius: 0px;
        box-shadow: none;
    }
    #sheld {
        left: var(--barSize);
        max-width: calc(100vw - var(--barSize)) !important;
        max-height: 100svh;
        height: 100svh;
        top: 0;
        &.collapsed {
            left: 0;
        }
        #chat {
            max-height: 100svh;
            border-bottom-left-radius: 0.9rem;
            border-bottom-right-radius: 0.9rem;
            margin-bottom: -2px;
        }
        #form_sheld {
            margin-bottom: 0.9rem;
            #send_form {
                border-radius: 0;
                background-color: transparent !important;
                #nonQRFormItems {
                    border-radius: 0.9rem;
                    border: 1px rgb(63, 63, 63) solid;
                    background-color: rgb(45, 45, 45);
                    #extensionsMenuButton.fa-magic-wand-sparkles::before {
                        content: "\f0c6";
                    }
                    #options_button.fa-bars::before {
                        content: "\f142";
                    }
                }
                #send_textarea {
                    margin: 0.36rem;
                    background-color: rgb(45, 45, 45);
                    resize: none;
                }
                #rightSendForm {
                    margin-right: 0.27rem;
                    #send_but.fa-solid.fa-paper-plane::before {
                        content: "\f0aa";
                    }
                }
            }
        }
    }
    #top-settings-holder:has(.drawer-icon.openIcon) ~ #sheld,
    #top-settings-holder:has(.drawer-content.pinnedOpen) ~ #sheld,
    body:has(#character_popup[style*="display: flex"]) > #sheld {
        left: initial;
        width: calc(100vw - var(--barSize) - 40.5vw);
    }
    .historyButton {
        background-color: rgb(18, 18, 18);
        > span {
            padding: 3px 5px;
        }
    }
    .chat-flex {
        justify-content: space-evenly;
        order: 9;
    }
    #select_chat_div {
        order: 10;
        overflow-y: scroll;
        padding-bottom: 4.05em;
    }
    .select_chat_block_filename.select_chat_block_filename_item {
        opacity: 100%;
    }
    #select_chat_name_wrapper {
        flex-wrap: nowrap;
        > .flex-container.gap10px > .flex-container.gap10px {
            flex-wrap: nowrap;
            gap: 5px !important;
            .exportRawChatButton.fa-solid.fa-file-export::before {
                content: "\f1c9";
            }
        }
    }
    .PastChat_cross.opacity50p.hoverglow.fa-solid.fa-skull::before {
        content: "\f1f8";
    }
    .closeSidebar {
        position: absolute;
        left: 17.1rem;
        top: 45%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: 11;
        visibility: visible !important;
        transition: 0.09s all ease-in-out;
        .arrow1,
        .arrow2 {
            height: 1.08rem;
            width: 0.36em;
            background-color: white;
            transition: 0.09s all ease-in-out;
        }
        .arrow1 {
            border-top-left-radius: 0.18rem;
            border-top-right-radius: 0.18rem;
        }
        .arrow2 {
            border-bottom-left-radius: 0.18rem;
            border-bottom-right-radius: 0.18rem;
        }
        &:hover {
            .arrow1 {
                transform: rotate(36deg) translateY(0.18rem);
            }
            .arrow2 {
                transform: rotate(-36deg) translateY(-0.18rem);
            }
        }
    }
    .mes {
        body.bubblechat & {
            background-color: transparent;
            .mes_text {
                width: fit-content;
                padding: 0.27rem 0.54rem;
                margin-top: 10px;
                border-radius: 27px;
                border-top-left-radius: 6px;
                background-color: var(--SmartThemeBotMesBlurTintColor);
                p {
                    margin: 10px;
                }
            }
        }
        &[is_user="true"] {
            body.bubblechat & {
                background-color: transparent;
                .mesAvatarWrapper {
                    order: 2;
                }
                .mes_block {
                    text-align: right;
                    padding-left: 3.6rem;
                    padding-right: 10px;
                    .mes_text {
                        float: right;
                        border-top-left-radius: 27px;
                        border-top-right-radius: 6px;
                        background-color: var(--SmartThemeUserMesBlurTintColor);
                        code {
                            text-align: left;
                        }
                    }
                    .ch_name.flex-container.justifySpaceBetween {
                        justify-content: end;
                        .flex-container.flex1.alignitemscenter {
                            order: 2;
                            flex-direction: row-reverse;
                            flex: 0;
                        }
                    }
                }
            }
            .name_text {
                visibility: hidden;
                text-indent: -999px;
                line-height: 0;
                &::after {
                    content: "(You)" !important;
                    text-indent: 0px;
                    visibility: visible;
                    display: block;
                    line-height: initial;
                }
            }
        }
        .mes_block {
            transform: none !important;
            .icon-svg.timestamp-icon {
                align-self: center;
            }
        }
        &:not(:hover) {
            .mes_buttons,
            .swipe_left {
                opacity: 0%;
            }
            .swipe_right {
                display: none !important;
            }
            .mesAvatarWrapper {
                .mesIDDisplay,
                .mes_timer,
                .tokenCounterDisplay {
                    display: none;
                }
            }
        }
        .swipe_left {
            left: 0.18em;
        }
        .swipe_right {
            left: 0.81em;
        }
        .swipes-counter {
            margin-bottom: -12px;
            margin-left: -1.8em;
            pointer-events: none;
        }
        .mes_img_controls {
            height: 100%;
        }
        .right_menu_button.fa-lg.fa-solid.fa-magnifying-glass.mes_img_enlarge {
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
    #extensions_settings .inline-drawer-toggle.inline-drawer-header,
    #extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
    #user-settings-block h4,
    .standoutHeader {
        background-image: none;
    }
    .expression-holder {
        left: calc(54px * -0.54);
        width: calc(54vw - 54px);
    }
}
